{% extends 'base.html.twig' %}

{% block title %}Hello CheckOutController!
{% endblock %}

{% block body %}

	{% include "shared/title_section.html.twig" with  {'name': 'Checkout : '} %}

	<div class="section">
		<div class="container">
			{{ form_start(checkout)}}
			<div class="row">
				<div class="col-md-6">
					<div class="heading_s1">
						<h4>Please verify your delivery Address</h4>
						<div class="content mt-3">
							{{ address | replace({'[brouette]' : '<br>',}) | raw}}
							<a class="btn btn-fill-out mt-1" href="{{ path('app_address_edit', {'id': address.id }) }}">Edit address</a>
							<a class="btn btn-fill-out mt-1" href="{{ path('app_checkout_edit') }}">Change address</a><br>
						</div>
					</div>
					<div class="heading_s1">
						<h4>Please verify your carrier</h4>
						<div class="content mt-3">
							{{ carrier | replace({'[brouette]' : '<br>',}) | raw}}
							<a class="btn btn-fill-out mt-1" href="{{ path('app_checkout_edit') }}">Change carrier</a><br>
						</div>
					</div>
					{% if informations %}
						<div class="heading_s1">
							<h4>Please verify additional information</h4>
							<div class="form-group mb-0">
								{{ form_widget(checkout.informations)}}
							</div>
						</div>
					{% endif %}
				</div>
                <div class="col-md-6">
					<div class="order_review">
						<div class="heading_s1">
							<h4>Your Orders</h4>
						</div>
						<div class="table-responsive order_table">
							<table class="table">
								<thead>
									<tr>
										<th>Product</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									{% set subTotal = 0 %}
									{% for element in cart.products %}
										{% set subTotal = subTotal + (element.quantity * element.product.price /100) %}
										<tr>
											<td>
												{{ element.product.name }}
												<span class="product-qty">x
													{{ element.quantity }}</span>
											</td>
											<td>{{ element.product.price /100 }}
												€</td>
										</tr>
									{% endfor %}
                                </tbody>
								<tfoot>
									<tr>
										<th>SubTotal HT</th>
										<td class="product-subtotal">{{ subTotal }}
											€</td>
									</tr>
									<tr>
										<th>Taxe</th>
										<td class="product-subtotal">{{ (subTotal * 0.2)|round(2, 'floor') }}
											€</td>
									</tr>
									<tr>
										<th>Shipping
											{{ carrier.name }}</th>
										<td class="product-subtotal">{{ carrier.price /100 }}
											€</td>
									</tr>
									<tr>
										<th>Total</th>
										<td class="product-subtotal">{{ (subTotal * 1.2 + carrier.price /100) |round(2, 'floor') }}
											€</td>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="payment_method">
							<div class="heading_s1">
								<h4>Payment</h4>
							</div>
							<button type="submit" id="checkout-button" class="btn btn-fill-out btn-block">Paid |
								{{ (subTotal * 1.2 + carrier.price /100) |round(2, 'floor') }}
								€</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
